@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors 
white: "#ebebeb",
black: "#1f1f30",
yellow: "#f9e606",
orange: "#f2b538",
red: "#f74040",
blue: "#2b38b0",
cyan: "#40bcd0",
pink: "#f57474",
*/
/* Fonts
Roobert-Bold,sans-serif
Roobert-Med,sans-serif
merriweather,serif
*/

@font-face {
  font-family: Roobert-Bold;
  src: url("../../font/Roobert-Bold.otf");
}

@font-face {
  font-family: Roobert-Regular;
  src: url("../../font/Roobert-Regular.ttf");
}

/* --- Font sizes --- small
-- Hero --
48.03px p

-- Subscribe --
30px header h2
16px button


-- Revenue --
30px header h2
20px p text (medium-large)
16px h3
16px button

-- Music publishing --
30px header h2
20px h3
16px button

-- Music marketing --
30px header h2
18px h3
20px p text
18px p strong
18px li
18px a
16px button

-- Testimonials --
30px header h2
18px blockquotes
18px p testimonial
15px div testimonial

-- Banner --
30px header h2
15px button
16px text p
18px subheader strong p
-- Footer --
14px text


*/

/* Spacers 
padding
15 25 30 40 16 36 10 13 35 60 20
margin
12 14 30 25 20
*/

/* Breakpoints
480px
680px
(min-width: 768px) and (max-width: 1139px)
*/

/* Media queries */

/* Nav */
@media screen and (min-width: 1140px) {
  nav .hamburguer {
    display: none;
  }
  nav .nav-md {
    display: none;
  }
}

@media screen and (max-width: 1139px) {
  nav .nav-lg {
    display: none;
  }
}

.mobile-nav {
  height: 100vh;
  width: 250px;
  position: fixed;
  /* background-color: pink; */
}

.mobile-nav-list {
  padding-left: 20px;
}

#nav-wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

#sideNav.mobile-nav {
  transition: left 0.3s ease-in-out;
  left: 0px;
  top: 0px;
}

#sideNav.sideNavClosed {
  visibility: hidden;
  transition: left 0.3s ease-in-out, visibility 0.5s ease-in-out;
  position: absolute;
  left: -250px;
  top: 0px;
}

nav.nav-push {
  transition: all 0.3s ease-in-out;
  margin-left: 250px;
}

nav {
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-left: 0px;
}

#nav-wrapper {
  height: 79px;
}

/* NAVIGATION DROPDOWN */

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

/* .dropdown a:hover { */
/* text-decoration: underline; */
/* background-color: #2c9fb1; */
/* } */

li.nav-item > a {
  background: #1f1f30;
  /* color: #1f1f30; */

  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-item > a:hover,
.nav-item > a:focus {
  background: #40bcd0;
  color: #1f1f30;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav li > a:hover > .dropdown,
nav li > a:focus > .dropdown {
  display: block;
}

.nav-item:hover > .dropdown,
.nav-item:hover > a,
.nav-item:focus-within > a + .dropdown,
.nav-item:focus-within > a {
  color: #1f1f30;
  background: #32b5ca;
  visibility: visible;
  opacity: 1;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
    visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-item > .dropdown {
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: background 0.3s ease-in-out, visibility 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

nav .nav-item > a:first-child {
  border-radius: 5px 5px 0 0;
  /* transition: border-radius 0s; */
}

nav .nav-item .dropdown {
  border-radius: 0 0 5px 5px;
  /* transition: border-radius 0s; */
}
/* nav li.nav-item:hover > a:first-child {
  border-radius: 10px 10px 0 0;
  
}

nav li.nav-item:hover .dropdown {
  border-radius: 0 0 10px 10px;
  
} */

nav li a {
  text-underline-offset: 3px;
}

nav li a:focus {
  border-radius: 4px;
  outline: 2px auto #ebebeb;
  box-shadow: inset 0 0 0 4px rgb(73, 219, 90);
  outline-offset: -2px;
  transition: all 0.2s ease 0s;
}

.dropdown a {
  font-family: Roobert-Regular, sans-serif;
  font-weight: 400;
}

nav a.secondary-nav-link:hover,
nav a.secondary-nav-link:focus {
  color: #40bcd0;
  transition: color 0.3s ease-in-out;
}

nav a.secondary-nav-link {
  color: #ebebeb;
  transition: color 0.3s ease-in-out;
}

#lang-select {
  position: relative;
}

#lang-select .dropdown {
  position: absolute;
  width: 150px;
  left: -104px;
  top: 51px;
}

#lang-select > .chip {
  opacity: 0;
  position: absolute;
  border-color: transparent transparent #40bcd0;
  border-style: solid;
  border-width: 20px 11px 9px;
  content: "";
  height: 0;
  left: 1px;
  top: 22px;
  width: 0;
  transition: opacity 0.3s ease-in-out;
}

#lang-select:hover > .chip {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#lang-select::after {
  border-color: #ebebeb transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  right: -15px;
  top: 10px;
}

nav .nav-button:hover {
  background-color: #f74040;
  color: #ebebeb;
  transition: all 0.3s ease 0s;
}

nav li.nav-item > a,
nav li.nav-item-secondary > a {
  padding: 10px 14px;
}
